{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="https://bootswatch.com/5/morph/bootstrap.min.css">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>

<body>

              {% for message in messages %}
              <div class="alert alert-{{ message.tags }} alert-dismissible fade show" role="alert">
                  <strong>message:</strong> {{ message }}
                  <button type="button" class="close" data-dismiss="alert" aria-lable="close">
                  <span aria-hidden="true">&times;</span>
                  </button>
              </div>
              {%endfor %}

<nav class="navbar navbar-expand-lg bg-primary" data-bs-theme="dark">
    <div class="container-fluid">
        <button class="btn btn-outline-primary me-2" type="Submit"> Example</button>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarColor01" aria-controls="navbarColor01" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>

      <div class="collapse navbar-collapse" id="navbarColor01">
        
        <ul class="navbar-nav ms-auto">
            
          {% if user.is_authenticated %}
          <h3>{{user.username}}</h3>

            <li class="nav-item">
                <a href="{% url 'my-signout'%}"> <button type="button" class="btn btn-outline-secondary space ">LogOut</button></a>
                <span class="visually-hidden">(current)</span>
            </li>

            {% else %}

            <li class="nav-item">
                <a href="{% url 'my-signup'%}"> <button type="button" class="btn btn-outline-secondary space ">Register</button></a>
                <span class="visually-hidden">(current)</span>
            </li>
          
            <li class="nav-item">
                <a href="{% url 'my-signin'%}"> <button type="button" class="btn btn-outline-secondary space ">Login</button></a>
                <span class="visually-hidden">(current)</span>
            </li>

            {% endif %}

        </ul>

    </div>
    
    </div>
  
  </nav>

</body>
</html>